<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      {{content.title}}
    </h4>
    <div class="dropdown to-right">
      <button type="button" class="btn btn-default btn-xs panel-button" style="margin-right: 8px;" data-toggle="dropdown" data-widget="settings">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
      <ul class="dropdown-menu">
        <li *ngIf="widgetId > 100">
          <a (click)="delete()">Delete</a>
        </li>
        <li *ngIf="widgetId > 100" role="separator" class="divider"></li>
        <li>
          <a (click)="settingsModal.open()">Settings</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel-body">
    <img src="../../../assets/images/chartsStub/lineChart.png" height="450" width="100%">
  </div>
</div>

<bs-modal #settingsModal [size]="'md'" class="chart-modal">
  <bs-modal-header [showDismiss]="true">
    <h4>Chart Settings</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form class="form-horizontal">
      <h4>Chart</h4>
      <div class="form-group">
        <label for="titleTxt" class="col-sm-3 control-label">Title:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="titleTxt" name="titleTxt" placeholder="Title" [(ngModel)]="widgetObj._component.content.title"
            (ngModelChange)="update();">
        </div>
      </div>
    </form>
  </bs-modal-body>
</bs-modal>